*{
margin: 0px;
padding: 0px;
}


body{
    font-family: 'Poppins';
    background-color: rgb(236, 236, 236);
}

.banner{
    background-color: white;
    padding: 10px;
}

.logo{
    width: 70px;
    vertical-align: middle;
}

.titolo{
    font-family: 'Poppins';
    font-weight:bold;
    display: inline-block;
    font-size: 70px;
    vertical-align: middle;
}


.container{
    background-color: white;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    padding-left: 70px;
    border-radius: 11px 11px 11px 11px;
}

.bottoni{
    font-weight:bold;
    padding-top: 20px;
    padding-bottom: 50px;

}


.botton1{
    background-color: rgb(86, 176, 255);
    color: white;
    padding: 6px 12px;
    text-align: center;
    display: inline-block;
    border-radius: 6px 6px 6px 6px;
}

.botton2{
    background-color: aliceblue;
    border: 1.5px;
    border-style: solid;
    color: rgb(182, 182, 182);
    padding: 5px 9px;
    text-align: center;
    display: inline-block;
    border-radius: 6px 6px 6px 6px;
}

.category{
    font-weight:bold;
    color: rgb(76, 76, 76);
    font-size: 28px;
    padding-bottom: 40px;
}

i{ 
    display: inline-block;
    vertical-align: middle;
}


.righe{
    padding-bottom: 10px;
}

.contenuto{
    font-weight:400;
    color: rgb(76, 76, 76);
    font-size: 19px;
    display: inline-block;
    vertical-align: middle;
}

.editorial{
    background-color: rgb(86, 176, 255);
    color: white;
    font-size: 10px;
    padding: 6px 12px;
    text-align: center;
    display: inline-block;
    border-radius: 13px 13px 13px 13px;
    vertical-align: middle;
}

.q1-goals{
    background-color: rgb(147, 64, 155);
    color: white;
    font-size: 10px;
    padding: 6px 12px;
    text-align: center;
    display: inline-block;
    border-radius: 13px 13px 13px 13px;
    vertical-align: middle;
}

.recruiting{
    background-color: rgb(83, 167, 83);
    color: white;
    font-size: 10px;
    padding: 6px 12px;
    text-align: center;
    display: inline-block;
    border-radius: 13px 13px 13px 13px;
    vertical-align: middle;
}

.mobile{
    background-color: rgb(216, 163, 56);
    color: white;
    font-size: 10px;
    padding: 6px 12px;
    text-align: center;
    display: inline-block;
    border-radius: 13px 13px 13px 13px;
    vertical-align: middle;
}

.website{
    background-color: rgb(200, 85, 141);
    color: white;
    font-size: 10px;
    padding: 6px 12px;
    text-align: center;
    display: inline-block;
    border-radius: 13px 13px 13px 13px;
    vertical-align: middle;
}

.sales{
    background-color: rgb(161, 201, 50);
    color: white;
    font-size: 10px;
    padding: 6px 12px;
    text-align: center;
    display: inline-block;
    border-radius: 13px 13px 13px 13px;
    vertical-align: middle;
}

.check{
    color: green;
}






    